<template>
  <!-- Слайд 16: JavaScript -->
  <section class="slide" id="slide-16">
    <div class="slide-content">
      <h2>JavaScript</h2>

      <div class="info-box">
        <h3>JS. Wurde in 10 Tagen erfunden - wir leiden seit 30 Jahren. 😅</h3>
      </div>

      <div class="two-column">
        <div class="column">
          <div class="code-container">
            <pre><code class="language-js" data-highlight="true">console.log([] + []); // ''
console.log({} + []); // 0
console.log(true + true); // 2
console.log("b" + "a" + + "a" + "a"); // 'baNaNa'
console.log(typeof NaN); // number

console.log([] == false); // true (unstrenger Vergleich)
console.log([] === false); // false (strenger Vergleich)</code></pre>
          </div>
          <img src="images/dog-panic.jpg" alt="">
        </div>
        <div class="column">
          <img src="images/wat.webp" alt="">
        </div>
      </div>

    </div>
  </section>
</template>