<template>
  <!-- Слайд 20: Meme -->
  <section class="slide" id="slide-20">
    <div class="slide-content">
      <h2>The END</h2>
      <div class="two-column">
        <div class="column">
          <img  src="../images/car.jpg" alt="">
        </div>
        <div class="column">
          <h2>In life, as in CSS — it's all about positioning.</h2>
          <div class="code-container">
            <pre><code class="language-css" data-highlight="true">.car {
  margin-left: -50px;
  margin-bottom: -10px;
  rotation: -90;
  height: 80%;  
}</code></pre>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>