<template>
  <!-- Слайд 5: Работа веб-браузера -->
  <section class="slide" id="slide-5">
    <div class="slide-content">
      <h2>So funktioniert der Browser. Navigation</h2>

      <div class="scene-5">
        <div class="actor" id="user">
          <div class="actor-image user-image"></div>
          <div class="actor-name">User</div>
          <div class="speech-bubble" id="user-speech"></div>
        </div>
        <div class="actor" id="browser">
          <div class="actor-image browser-image"></div>
          <div class="actor-name">Browser</div>
          <div class="speech-bubble" id="browser-speech"></div>
        </div>
        <div class="actor-column">
          <div class="actor" id="provider">
            <div class="actor-image provider-image"></div>
            <div class="actor-name">Provider</div>
            <div class="speech-bubble" id="provider-speech"></div>
          </div>
          <div class="actor" id="server">
            <div class="actor-image server-image"></div>
            <div class="actor-name">WEB-Server</div>
            <div class="speech-bubble" id="server-speech"></div>
          </div>
        </div>
        <div class="actor" id="dns">
          <div class="actor-image dns-image"></div>
          <div class="actor-name">DNS-Server</div>
          <div class="speech-bubble" id="dns-speech"></div>
        </div>
      </div>

      <div>
        <button class="hide-btn" style="display: block;">OSI</button>
          <div class="extra-info hidden">
            <img src="images/OSI.png" alt="OSI" width="80%">
          </div>
      </div>
      
    </div>
  </section>
</template>