<!-- Слайд 1: Cover page -->
<template id="slide-1">
  <section class="slide active" id="slide-1">
    <div class="slide-content">
      <h1 class="main-title">HTML, CSS, JavaScript</h1>
      <h2 class="subtitle">
        <span class="text">Drei Säulen der Webentwicklung.</span>
        <!-- <span class="dolphin-text">Und der Delphin</span> -->
      </h2>
      <div class="tech-icons">
        <!-- <div class="tech-icon html"><img src="images/html-1.svg" /></div>
        <div class="tech-icon css"><img src="images/css-3.svg" /></div>
        <div class="tech-icon js"><img src="images/javascript-r.svg" /></div>
        <div class="tech-icon svg dolphin"><img src="images/SVG_Logo.svg" /></div> -->
      </div>
    </div>
  </section>
</template>