<template>
  <section class="slide" id="slide-3">
    <div class="slide-content">
      <h2>Geschichte</h2>
      <div class="timeline">
        <div class="timeline-item" id="timeline-item-1">
          <div class="timeline-date">1989</div>
          <div class="timeline-content">Idee</div>
        </div>
        <div class="timeline-item" id="timeline-item-2">
          <div class="timeline-date">1991</div>
          <div class="timeline-content">Erste Webseite</div>
        </div>
        <div class="timeline-item" id="timeline-item-3">
          <div class="timeline-date">1994</div>
          <div class="timeline-content">CSS</div>
        </div>
        <div class="timeline-item" id="timeline-item-4">
          <div class="timeline-date">1995</div>
          <div class="timeline-content">JavaScript</div>
        </div>
        <div class="timeline-item" id="timeline-item-5">
          <div class="timeline-date">2005+</div>
          <div class="timeline-content">Web 2.0</div>
        </div>
        <div class="timeline-item" id="timeline-item-6">
          <div class="timeline-date">Heute</div>
          <div class="timeline-content">Modernes Web</div>
        </div>
      </div>
    
      <div class="timeline-item-info-1">
        <h3>Idee</h3>
        <p><strong>Ziel</strong>: Erleichterung der Suche und Konsolidierung von Informationen für CERN-Wissenschaftler.</p>
        <p><strong>Ergebnis</strong>: <b>URIs, HTTP</b> und <b>HTML</b> wurden erfunden.</p>
        <div class="slide-extra">
          <h3>Was ist davor passiert?</h3>
          <button class="hide-btn">Anzeigen</button>
          <div class="extra-info hidden">
            <p>Der damalige Konkurrent des Webbrowsers von Tim Berners-Lee war Gopher. So ungefähr sah die Struktur von Dokumenten im Internet aus.</p>
            <img src="images/gopher.png"/>
          </div>
        </div>
      </div>
    
      <div class="timeline-item-info-2">
        <h3>Erste Webseite</h3>
        <p><strong>Erster Webserver</strong>: 1990 – genannt CERN httpd (HyperText Transfer Protocol daemon).</p>
        <p><strong>Die erste Website der</strong> Welt: 6. August 1991, auf dem ersten Webserver, erreichbar unter<a href="http://info.cern.ch/"> http://info.cern.ch/</a>
        </p>
        <div class="slide-extra">
          <h3>Was sonst?</h3>
          <button class="hide-btn">Anzeigen</button>
          <div class="extra-info hidden">
            <p>Dies ist der erste Webserver. Aufschrift auf dem Block:
              <p>"This machine is a server. <b>DO NOT POWER IT DOWN!!</b>"</p>
            </p>
            <img width="80%" src="images/first_web_server.jpg"/>
    
            <h3>Der erste Webbrowser</h3>
            <button class="hide-btn" style="display: block;">Anzeigen</button>
            <div class="extra-info hidden">
              <p>Der Browser diente auch als Webseiten-Editor. (WYSIWYG - What You See Is What You Get)</p>
              <img width="65%" src="images/worldwideweb-the-first-browser.png"/>
    
              <h3>Ziemlich trist und grau... Wann kommen endlich die Bilder?</h3> 
              <button class="hide-btn" style="display: block;">Anzeigen</button>
              <div class="extra-info hidden">
                <p>Das erste Bild im Web. Fast...</p>
                <img width="80%" src="images/les_horribles.jpeg"/>
    
                <h3>Konnte Gopher Bilder?</h3>
                <button class="hide-btn" style="display: block;">Mehr erfahren</button>
                <div class="extra-info hidden">
                  <p>Naja, geht so...</p>
                  <p>Gopher zeigte keine Dateien an, sie mussten heruntergeladen und separat geöffnet werden</p>
                  <img width="80%" src="images/gopher-kitten.jpg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="timeline-item-info-3">
        <h3>CSS</h3>
        <p>Erstmals vorgeschlagen: <strong>10. Oktober 1994</strong> von Håkon Wium Lie</p>
        <p><b>1996</b>: eingereicht als Empfehlung des W3C (World Wide Web Consortium)</p>
        <iframe
          height="300"
          style="width: 100%;"
          scrolling="no"
          title="Animated CSS Mail Button"
          src="https://codepen.io/jakegilesphillips/embed/MveNLe?default-tab="
          frameborder="no"
          loading="lazy"
          allowtransparency="true"
          allowfullscreen="true"
        >
          See the Pen <a href="https://codepen.io/jakegilesphillips/pen/MveNLe">
          Animated CSS Mail Button</a> by Jake Giles-Phillips (<a href="https://codepen.io/jakegilesphillips">@jakegilesphillips</a>)
          on <a href="https://codepen.io">CodePen</a>.
        </iframe>
      </div>
    
      <div class="timeline-item-info-4">
        <h3>JavaScript</h3>
        <p>JavaScript wurde von Brendan Eich in <b>10 Tagen</b> erstellt!</p>
        <p>JavaScript ≠ Java.</p>
        <div>
          <ul>Modernes JavaScript ist fast alles:
            <li>Funktioniert auf dem Server (Node.js)</li>
            <li>Macht Spiele, mobile Anwendungen, Chatbots, Desktop-Anwendungen</li>
            <li>Kann IoT (intelligente Geräte) steuern</li>
          </ul>
        </div>
        <p>
          JavaScript ist eine Sprache, die als einfaches Skript auf einer Webseite begann und jetzt auf Raumfahrzeugen von SpaceX läuft.
        </p>
      </div>
    
      <div class="timeline-item-info-5">
        <h3>Interaktives und soziales Web</h3>
        <div>
          <ul>
            <li>Das Aufkommen von AJAX – Seiten werden ohne Neuladen aktualisiert (z. B. Gmail)</li>
            <li>Der Benutzer erstellt Inhalte - Blogs, Foren, Kommentare</li>
            <li>Der Aufstieg der sozialen Medien: YouTube (2005), Facebook, Twitter</li>
          </ul>
        </div>
        <p>
          Der entscheidende Unterschied zum Web 1.0: nicht nur lesen, sondern auch schreiben, kommentieren, interagieren.
        </p>
      </div>
    
      <div class="timeline-item-info-6">
        <h3>Modernes Web</h3>
        <div>
          <ul>Mobil, intelligent und komponentenbasiert
            <li>Single Page Applications (SPA): Site = eine Anwendung (React, Vue, Angular)</li>
            <li>Mobil responsiv – Websites funktionieren auf jedem Gerät</li>
            <li>Integration mit KI und ML, Sprachassistenten, Chatbots</li>
          </ul>
        </div>
        <p>
          Die Entwicklung hat sich auf die Ebene der „Entwicklung als Engineering“ verlagert: automatisierte Tests, CI/CD, Assembler, Linter usw.
        </p>
      </div>
    </div>
  </section>
</template>