<template>
  <!-- Слайд 9: What do we get in response? -->
  <section class="slide" id="slide-9">
    <div class="slide-content">
      <h2>Aber was genau bekommen wir als Antwort?</h2>
      <div class="two-column">
        <div class="column">
          <div class="block">
            <h3>1. HTML</h3>
  <pre><code class="language-html" data-highlight="true">
1    &lt;!DOCTYPE html&gt;
2    &lt;html&gt;
3    &lt;head&gt;
4      &lt;title&gt;Beispiel&lt;/title&gt;
5    &lt;/head&gt;
6    &lt;body&gt;
7      &lt;header&gt;
8        &lt;ul class="menu"&gt;
9         &lt;li&gt;Startseite&lt;/li&gt;
10          &lt;li&gt;Artikel&lt;/li&gt;
11          &lt;li&gt;Kontakte&lt;/li&gt;
12        &lt;/ul&gt;
13      &lt;/header&gt;
14      &lt;article id="12"&gt;
15        &lt;h1&gt;Wie lerne ich Javascript?&lt;/h1&gt;
16        &lt;p&gt;Man muss anfangen zu lernen.&lt;/p&gt;
17      &lt;/article&gt;
18    &lt;/body&gt;
19    &lt;/html&gt;
    </code></pre>
          </div>
        </div>
        <div class="column">
          <div class="info-box">
            <p>HTML (aus dem Englischen HyperText Markup Language – „Hypertext Markup Language") ist eine standardisierte Hypertext-Markup-Sprache für Dokumente zum Anzeigen von Webseiten in einem Browser.</p>
            <img src="images/Hyperlinks_scheme.svg" alt="">
            <p>Hypertext ist Text, der Links zu anderen Texten oder Seiten enthält.</p>
            <pre><code class="language-html" data-highlight="true">&lt;a href="https://example.com"&gt;Go to example.com&lt;/a&gt;</code></pre>
          </div>
        </div>
      </div>

      <div>
      </div>
    </div>
  </section>
</template>