#slide-14 .block {
  background: #f5f5f5;
  border-radius: 8px;
  border-left: 5px solid #2ecc71;
  padding: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  overflow-x: auto;
}

#slide-14 img {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.positive, .negative {
  padding: 10px;
  border-radius: 4px;
}

.positive {
  background-color: #b9ffd6;
}

.negative {
  background-color: #ffbfb9;
}

.positive ul, .negative ul {
  margin-bottom: 0;
}

.interactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#incrementBtn, #resetBtn {
  color: white;
  border: none;
  width: 100px;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#incrementBtn {
  background-color: #3498db;
}

#resetBtn {
  background-color: #bb3018;
}

#incrementBtn:hover {
  background-color: #2980b9;
}

#resetBtn:hover {
  background-color: #a02914;
}

